{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}

{% block navbar %}
<div class="navbar">

</div>
{% endblock %}

{% block content %}
<div class="container">
<h1>{{config.get('TITLE')}}</h1>

<div class="jumbotron">
<ul class="list-group">
    {% for product in products %}
    <li class="list-group-item">
      <div class="container">
        <h1>{{ product.title }}</h1>
        
        <div class="jumbotron">
        <h2>R$ {{ "%0.2f" | format(product.unit_price)}}</h2>
        <p>
            {{ product.description|default('Não informado', true) }}
        </p>
        </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>

</div>
{% endblock %}